:root {
  --color-blue-medium: #003F73;
  --color-blue-light: #50E6FF;
  --color-accent: #0078D4;
}

.underline {
  background-position-x: 1em;
  background-position-y: 0.6em;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 20%,
    var(--color-blue-light) 20%,
    var(--color-blue-light) 100%
  );
  background-repeat: repeat-x;
}

.edgeLogo {
  transform: scale(0);
  animation:
    popIn 2s forwards,
    bounce 2s 2s infinite;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.wrapper a {
  color: black !important;
}

@keyframes popIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.footer__quote a {
  color: white !important;
}
